.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #000;

  main {
    min-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: opacity(75%);
    background-attachment: fixed;
  }

  h1,
  .header {
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    font-size: 152px;
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 11px 7px 15px;
  }
}

p {
  margin: 0 !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-size: 24px;
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 11px 7px 15px;
}

h3,
h2,
.drinkstop-text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 33px !important;
}

.bg-color {
  background-color: rgba(245, 222, 179, 0.742) !important;
}

.blur {
  backdrop-filter: blur(5px);
  --bs-backdrop-opacity: 0.8 !important;
}

.row-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid #000000b6;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  margin-bottom: 15px;
  font-size: 24px;
  background-color: rgb(245 222 179 / 70%);
  width: 80%;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  }

  .product-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
  }
  .product-details {
    flex: 1;
  }

  .price {
    padding: 10px 0;
    font-weight: 700;
  }
}
