#ManageProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  padding: 40px;

  .add-button {
    align-self: flex-end;
    display: flex;
    font-size: 22px;
    justify-content: center;
    align-items: center;
  }

  .row-item {
    gap: 20px;

    .item-actions {
      display: flex;
      gap: 10px;
    }
  }

  .actions {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
}
