#users-table {
  td {
    vertical-align: middle;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .imageContainer {
    height: 80px;
    width: 80px;
    margin: 0 auto;
  }
}
