.navbar-brand a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  color: white;
  text-shadow: rgba(0, 0, 0, 1) 11px 7px 15px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
